name: Build Flutter Android APK

on:
  push:
    branches:
      - main
    paths:
      - 'mobile/**'
      - 'mobile/.github/workflows/flutter-android.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: mobile

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: avtarx-release-apk
          path: mobile/build/app/outputs/flutter-apk/app-release.apk
