name: Backend Deploy

on:
  push:
    paths:
      - "backend/**"
      - "devops/**"
      - ".github/workflows/backend.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Backend Image
        run: docker build -t avtarx-backend -f devops/docker/backend.dockerfile .

      - name: Deploy to Render
        run: |
          curl -X POST "$RENDER_DEPLOY_HOOK"
