name: Tests

on:
  pull_request:
  push:
    paths:
      - "tests/**"
      - ".github/workflows/tests.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Backend Tests
        run: pytest tests/backend_tests/

      - name: API Tests
        run: pytest tests/api_tests/

      - name: Flutter Tests
        run: |
          flutter pub get
          flutter test
